<div class="row">
    <div class="col-md-6 col-md-offset-3">

        <div class="alert alert-danger" role="alert" ng-show="loginForm.$submitted && loginForm.$invalid">
            <p ng-show="loginForm.email.$invalid">The email is invalid</p>
            <p ng-show="loginForm.password.$isEmpty && loginForm.email.$isEmpty">You must fill in all fields</p>
        </div>

        <form name="registerForm" ng-submit="submit()" novalidate>
            <div class="form-group">
                <label>First Name</label>
                <input type="text" class="form-control" name="text" ng-model="user.firstName" ng-required="true" placeholder="Enter First Name">
            </div>
            <div class="form-group">
                <label>Last Name</label>
                <input type="text" class="form-control" name="password" ng-model="user.lastName" ng-required="true" placeholder="Enter Last Name">
            </div>
            <div class="form-group">
                <label>Email</label>
                <input type="email" class="form-control" name="email" ng-model="user.email" ng-required="true" placeholder="Enter Email">
            </div>
            <div class="form-group">
                <label>UserName</label>
                <input type="text" class="form-control" name="email" ng-model="user.username" ng-required="true" placeholder="Enter UserName">
            </div>
            <div class="form-group">
                <label>UserName</label>
                <input type="text" class="form-control" name="password" ng-minlength="10" ng-model="user.password" ng-required="true" placeholder="Enter Password">
            </div>

            <button type="submit" class="btn btn-default">Send</button>

            <p>Not user? <a ui-sref='login.register'>Sign up</a></p>
        </form>
    </div>
</div>